<nav class="navbar">
  <div class="nav-left">
    <a href="/">Home</a>
    <a href="/shelters">Shelters</a>
    <a href="/animals">Animals</a>
  </div>
  <div class="nav-right">
    <% if (user) { %>
      <a href="/users/logout">Logout</a>
    <% } else { %>
      <a href="/users/sign-in">Sign In</a>
      <a href="/users/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>