<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Shelter</title>
</head>
<body>
  <%- include('../partials/_navbar') %>

  <h1>New Shelter</h1>
  <form action="/shelters" method="POST">
    <label for="organization">Organization:</label>
    <input type="text" name="organization" placeholder="Organization" required>

    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" required>

    <label for="location">Location: </label>
    <input type="text" name="location" placeholder="Location" required>

    <label for="contact">Contact: </label>
    <input type="text" name="contact" placeholder="Contact" required>

    <button type="submit">Add Shelter to List</button>
  </form>
  